*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Reajusta el tamaño de la caja al tamaño del witdh*/
}

li {
    list-style: none;
}

a:link, a:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size:30px;
    color: black;
    background-color: aquamarine;
    border: 2px solid black;
    display: block;
    text-align: center;
    margin-top: 1px;
    width: 200px;
}

a:hover{
    background-color: white;
}

li:nth-child(2) >a:hover{
    background-color: red;
}

#thebox {
    margin: 40px;
    padding: 20px;
    border: 3px solid black;
    background-color: rgb(207, 204, 204);
    width: 300px;
    height: 100px;
    overflow: auto;

}
#bg{
    width: 500px;
    height: 500px;
    background-image: url(Yin_yang.png);
    background-repeat: no-repeat;
    background-color: yellowgreen;
    background-position: center ;


}


